<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_RegistrationService" />
                <binding name="BasicHttpBinding_IAuthService" />
                <binding name="BasicHttpBinding_IAuthService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:63532/ServiceClass/RegistrationServiceClass.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_RegistrationService"
                contract="ClientRegistrationService.RegistrationService" name="BasicHttpBinding_RegistrationService" />
            <endpoint address="http://localhost:63532/ServiceClass/AuthService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuthService"
                contract="ClientAuthentication.IAuthService" name="BasicHttpBinding_IAuthService" />
            <endpoint address="http://localhost:63532/AuthService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IAuthService1" contract="AuthenticateClient.IAuthService"
                name="BasicHttpBinding_IAuthService1" />
        </client>
    </system.serviceModel>
</configuration>