<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAuthService" />
                <binding name="BasicHttpBinding_RegistrationService" messageEncoding="Mtom" />
                <binding name="BasicHttpsBinding_RegistrationService">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IAuthService1" messageEncoding="Mtom" />
                <binding name="BasicHttpsBinding_IAuthService">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IAccountService" messageEncoding="Mtom" />
                <binding name="BasicHttpsBinding_IAccountService">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IPersonalDiary" messageEncoding="Mtom" />
                <binding name="BasicHttpsBinding_IPersonalDiary">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_ISharingService" messageEncoding="Mtom" />
                <binding name="BasicHttpsBinding_ISharingService">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IDocumentService" maxBufferPoolSize="2147483647"
                    maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
                    <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
                        maxArrayLength="2147483647" />
                </binding>
                <binding name="BasicHttpsBinding_IDocumentService">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IUserAccountService" />
                <binding name="BasicHttpsBinding_IUserAccountService">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://webappsecuredesk.azurewebsites.net/ServiceClass/RegistrationServiceClass.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_RegistrationService"
                contract="ClientRegistrationService.RegistrationService" name="BasicHttpBinding_RegistrationService" />
            <endpoint address="https://webappsecuredesk.azurewebsites.net/ServiceClass/RegistrationServiceClass.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_RegistrationService"
                contract="ClientRegistrationService.RegistrationService" name="BasicHttpsBinding_RegistrationService" />
            <endpoint address="http://webappsecuredesk.azurewebsites.net/ServiceClass/AuthService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuthService1"
                contract="AuthenticateClient.IAuthService" name="BasicHttpBinding_IAuthService1" />
            <endpoint address="https://webappsecuredesk.azurewebsites.net/ServiceClass/AuthService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IAuthService"
                contract="AuthenticateClient.IAuthService" name="BasicHttpsBinding_IAuthService" />
            <endpoint address="http://webappsecuredesk.azurewebsites.net/ServiceClass/AccountService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAccountService"
                contract="AccountService.IAccountService" name="BasicHttpBinding_IAccountService" />
            <endpoint address="https://webappsecuredesk.azurewebsites.net/ServiceClass/AccountService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IAccountService"
                contract="AccountService.IAccountService" name="BasicHttpsBinding_IAccountService" />
            <endpoint address="http://webappsecuredesk.azurewebsites.net/ServiceClass/PersonalDiary.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPersonalDiary"
                contract="DiaryService.IPersonalDiary" name="BasicHttpBinding_IPersonalDiary" />
            <endpoint address="https://webappsecuredesk.azurewebsites.net/ServiceClass/PersonalDiary.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IPersonalDiary"
                contract="DiaryService.IPersonalDiary" name="BasicHttpsBinding_IPersonalDiary" />
            <endpoint address="http://webappsecuredesk.azurewebsites.net/ServiceClass/SharingService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISharingService"
                contract="SharingService.ISharingService" name="BasicHttpBinding_ISharingService" />
            <endpoint address="https://webappsecuredesk.azurewebsites.net/ServiceClass/SharingService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_ISharingService"
                contract="SharingService.ISharingService" name="BasicHttpsBinding_ISharingService" />
            <endpoint address="http://webappsecuredesk.azurewebsites.net/ServiceClass/DocumentService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDocumentService"
                contract="DocumentService.IDocumentService" name="BasicHttpBinding_IDocumentService" />
            <endpoint address="https://webappsecuredesk.azurewebsites.net/ServiceClass/DocumentService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IDocumentService"
                contract="DocumentService.IDocumentService" name="BasicHttpsBinding_IDocumentService" />
            <endpoint address="http://webappsecuredesk.azurewebsites.net/ServiceClass/UserAccountService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserAccountService"
                contract="UserAccountService.IUserAccountService" name="BasicHttpBinding_IUserAccountService" />
            <endpoint address="https://webappsecuredesk.azurewebsites.net/ServiceClass/UserAccountService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IUserAccountService"
                contract="UserAccountService.IUserAccountService" name="BasicHttpsBinding_IUserAccountService" />
        </client>
    </system.serviceModel>
</configuration>